# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Data & Checkpoints
data/
checkpoints/
lightning_logs/
*.parquet

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
